<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>

    <head>
        <link rel="stylesheet" href="/css/error.css" />
    </head>

    <body>
        <%- include('partials/header') %>
            <main class="error404">
                <section>
                    <img src="../../img/headerFooter/Error404.jpg" alt="error404">
                    <h2>¿Te perdiste?</h2>
                    <p>No encontramos esa página. Encontrarás muchos productos en nuestra pagina de inicio</p>
                    <a class="btnInicio" href="/">Inicio</a>
                    <p class="codigoError">Código de error 404</p>
                    <br>
                </section>
            </main>
    </body>

</html>