<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<head>
  <link rel="stylesheet" href="/css/productCart.css">
  <title>Pegasus Tech | Carrito de productos</title>
  <form action="" method="POST" id="checkoutForm"></form>
  <form action="" method="POST" id="removeProductFromCart"></form>
</head>
<body>
  <%- include('../partials/header') %>

  <main class="cart">
    <h1 class="degradado">Carrito de productos</h1>

    <% for(let i=0; i<5; i++) { %> 
      <div class="product-in-cart">
        <div class="product-in-cart-img">
          <img src="/img/uploads/products/defaultProductImage.png">
        </div>

        <div class="product-in-cart-info">
          <div class="product-in-cart-name">
            <a href="productDetail.html"><h2>Nombre del Producto</h2></a>
          </div>
          <div class="product-in-cart-options">
            <input type="text" form="checkoutForm" class="cart-input-text" value="1">
            <button class="quantity-button icon-button" onclick=""><i class="fa-solid fa-square-minus"></i></button>
            <button class="quantity-button icon-button" onclick=""><i class="fa-solid fa-square-plus"></i></button>
            <button type="submit" form="removeProductFromCart" class="remove-product icon-button">
              <i class="fa-solid fa-circle-xmark"></i>
            </button>
          </div>
        </div>

        <div class="product-in-cart-price">
          <h3>$500.000</h3>
        </div>
      </div>
    <% } %> 

    <div class="cart-subtotal">
      <h2>Total(# items)</h2>
      <h2>$1'500.000</h2>
    </div>

    <div class="form-buttons">
      <button class="btn main-button">Comprar!</button>
    </div>
  </main>

  <section class="recopilacion">
      
  </section>

  <%- include('../partials/footer') %>
</body>
</html>