<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Product Delete</title>
</head>

<body>
  <form action="/products/productDelete/<%= datos.id %>" method="POST">
    <h1> Esta seguro que desea eliminar el producto: <%= datos.name %> </h1>
    <input type="submit" value="Confirmar Eliminacion">
  </form>
</body>

</html>