
<head>
    <title>Pegasus Tech | Crear producto</title>
    <link rel="stylesheet" href="/css/form/base/base.css">
    <link rel="stylesheet" href="/css/form/registro.css">
    <link rel="stylesheet" href="/css/form/componentes/card.css">
    <link rel="stylesheet" href="/css/form/componentes/inputs.css">
    <link rel="stylesheet" href="/css/form/componentes/button.css">
    <link rel="stylesheet" href="/css/login&register.css">
</head>
<%- include('../partials/head.ejs') %> 

<body>
    <%- include('../partials/header.ejs') %> 

    <main class="container flex flex--column flex--center">
        <section class="cartao">
            <h2 class="card__title">Registrar producto</h2><!-- opcional -->
            <form action="./productRegisterConclude" class="formulario flex flex--column">
                <fieldset>
                    <legend class="form__label">Información ...</legend>
                    <div class="input-container">
                        <input name="name" id="name" class="input" type="text" placeholder="Nombre" required data-tipo="nombre">
                        <label class="input-label" for="name">Nombre del producto <i class="fas fa-file-signature"></i></label>
                        <span class="input-message-error">Este campo no es valido</span>
                    </div>
                    <div class="input-container">
                        <input name="fabricante" id="fabricante" class="input" type="text" placeholder="Fabricante" required data-tipo="fabricante">
                        <label class="input-label" for="fabricante">Fabricante del producto <i class="fas fa-file-signature"></i></label>
                        <span class="input-message-error">Este campo no es valido</span>
                    </div>
                    <div class="input-container">
                        <input name="modelo" id="modelo" class="input" type="text" placeholder="Modelo" required data-tipo="modelo">
                        <label class="input-label" for="modelo">Modelo del producto <i class="fas fa-file-signature"></i></label>
                        <span class="input-message-error">Este campo no es valido</span>
                    </div>
                    <div class="input-container">
                        <input name="variaciones" id="variaciones" class="input" type="text" placeholder="Variaciones" required data-tipo="variaciones">
                        <label class="input-label" for="variaciones">Variaciones del producto <i class="fas fa-file-signature"></i></label>
                        <span class="input-message-error">Este campo no es valido</span>
                    </div>
                    <div class="textarea-container"><!-- Usar textarea o input? -->
                        <textarea name="descripcion" id="descripcion" class="textarea" type="text" placeholder="descripcion" required data-tipo="descripcion"></textarea>
                        <label class="textarea-label" for="descripcion">Descripcion del producto <i class="fas fa-file-signature"></i></label>
                        <span class="input-message-error">Este campo no es valido</span>
                    </div>
                    <div class="input-container">
                        <label class="input-label file" for="imagen">Seleccione la imágen del producto <i class="fa-solid fa-camera"></i></label>
                        <input name="imagen" required id="imagen" class="input-file" type="file" placeholder="Imágen" required  data-tipo="imagen"> 
                        <span class="input-message-error">Este campo no es valido</span>
                    </div>

                    <div class="list-choice">
                      <div class="list-choice-title">Seleccione la Categoria <i class="fa-solid fa-layer-group"></i></div>
                      <div class="list-choice-objects">
                        <label>
                          <input type="radio" name="category"/>
                          <span>Cat one</span>
                        </label>
                        <label>
                          <input type="radio" name="category"/>
                          <span>Cat two</span>
                        </label>
                        <label>
                          <input type="radio" name="category"/>
                          <span>Cat three</span>
                        </label>
                        <label>
                          <input type="radio" name="category"/>
                          <span>Cat four</span>
                        </label>
                      </div>
                    </div>
                    <div class="input-container">
                        <input name="precio" id="precio" class="input" type="text" placeholder="Precio" required data-tipo="precio">
                        <label class="input-label" for="precio">Precio del producto <i class="fas fa-dollar-sign"></i></label>
                        <span class="input-message-error">Este campo no es valido</span>
                    </div>
                    <div class="input-container">
                        <input name="descuento" id="descuento" class="input" type="text" placeholder="Descuento" required data-tipo="descuento">
                        <label class="input-label" for="descuento">Descuento del producto <i class="fas fa-dollar-sign"></i></label>
                        <span class="input-message-error">Este campo no es valido</span>
                    </div>
                    <div class="input-container">
                        <!-- <label class="input-label" for="colores">Colores del producto <i class="fas fa-palette"></i></label>     -->
                    <section class="app">
                        <h3>Colores <i class="fas fa-palette"></i></h3>
                        <article class="feature1">
                          <input type="checkbox" id="feature1"/>
                          <div>
                            <span>
                              BLANCO
                            </span>
                          </div>
                        </article>
                        
                        <article class="feature2">
                          <input type="checkbox" id="feature2"/>
                          <div>
                            <span>
                              AZUL
                            </span>
                          </div>
                        </article>
                        
                        <article class="feature3">
                          <input type="checkbox" id="feature3"/>
                          <div>
                            <span>
                              ROJO
                            </span>
                          </div>
                        </article>
                        
                        <article class="feature4">
                          <input type="checkbox" id="feature4" checked/>
                          <div>
                            <span>
                              FUCSIA
                            </span>
                          </div>
                        </article>
                    </section>
                </div>                      
                </fieldset>
                
                <button class="button">Registrar</a>
            </form>
        </section>
    </main>

    <%- include('../partials/footer') %> 
    <script src="" type="module"></script><!-- script de las validaciones -->
</body>
</html>
