<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200;400;700&family=Roboto:ital,wght@0,700;1,400;1,500&family=Rubik:ital,wght@0,500;0,600;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../public/css/normalize.css">
    <link rel="stylesheet" href="../public/css/style.css">
</head>

<body> 
<header class="header">
    <div class="container">
        <div>
            <img class="logo" src="../public/img/Header&footer/Pegasus-logo.png" alt="##">
        </div>
        <div>
            <h1 class="nombre-sitio degradado">Pegasus Tech</h1>
        </div>
            
        <div class="contenedor-nav">
            <nav class="nav-principal">
                <a href="tienda.html">Tienda</a>
                <a href="setups.html">Setups</a>
                <a href="nosotros.html">Nosotros</a>
                <a href="contacto.html">Contacto</a>
            </nav>
            <nav class="login-register">
                <a class="botones-diseño" href="login.html">Ingresar</a>
                <a class="botones-diseño" href="registro.html">Registrarse</a>
            </nav>
        </div>
    </div>
</header>

<div class="container-slaider">
    <s id="s1"></s> 
    <s id="s2"></s>
    <s id="s3"></s>
    <s id="s4"></s>
  
    <div class="slider">
      <div class="background" >
                <img src="../public/img/Index/slider1.jpg" alt="ImgSlider">
          </div>
      <div class="background">
                <img src="../public/img/Index/slider2.jpg" alt="ImgSlider">
          </div>
      <div class="background">
              <img src="../public/img/Index/slider3.jpg" alt="ImgSlider">
          </div>
      <div class="background">
              <img src="../public/img/Index/slider4.jpg" alt="ImgSlider">
          </div>
    </div>
    
    <div class="prevNext">
        <div><a href="#s4"></a><a href="#s2"></a></div>
        <div><a href="#s1"></a><a href="#s3"></a></div>
        <div><a href="#s2"></a><a href="#s4"></a></div>
        <div><a href="#s3"></a><a href="#s1"></a></div>
    </div>
  
    <div class="bullets">
        <a href="#s1"></a>
        <a href="#s2"></a>
        <a href="#s3"></a>
        <a href="#s4"></a>
    </div>
  
</div>

<main class="contenedor-principal contenedor">
    <h2 class="degradado text-center">Categoria de Productos</h2>

    <div class="listado-productos">
        <div class="producto">
            <img src="../public/img/Index/combos.jpg" alt="ImgCombos">
            <div class="texto-producto">
                <h3>Combos</h3>
                <p>¡ Animate ! Tenemos muchos combos que se pueden adaptar facilmente a tus necesidades</p>
                <p class="precio">Desde $500.000</p>

                <a class="btn btnMargin" href="tienda.html">Ir a la tienda</a>
            </div>
        </div>

        <div class="producto">
            <img src="../public/img/Index/diadema.jpeg" alt="ImgDiademas">
            <div class="texto-producto">
                <h3>Diademas</h3>
                <p>Contamos con las marcas top del mercado a precios justos. ¿que estas esperando para dar un vistazo?</p>
                <p class="precio">Desde $200.000</p>

                <a class="btn btnMargin" href="tienda.html">Ir a la tienda</a>
            </div>
        </div>

        <div class="producto">
            <img src="../public/img/Index/mouse.jpg" alt="ImgMouses">
            <div class="texto-producto">
                <h3>Mouses</h3>
                <p>Contamos con mouses de gama alta y gama media que cumpliran todas tus necesidades</p>
                <p class="precio">Desde $120.000</p>

                <a class="btn btnMargin" href="tienda.html">Ir a la tienda</a>
            </div>
        </div>

        <div class="producto">
            <img src="../public/img/Index/Monitores.jpg" alt="ImgMonitores">
            <div class="texto-producto">
                <h3>Monitores</h3>
                <p>Contamos con Monitores de varias gamas enfocados principalmente en las diferentes necesidades de nuestros usuarios.
                </p>
                <p class="precio">Desde $600.000</p>

                <a class="btn btnMargin" href="tienda.html">Ir a la tienda</a>
            </div>
        </div>

        <div class="producto">
            <img src="../public/img/Index/teclados.jpg" alt="ImgTeclados">
            <div class="texto-producto">
                <h3>Teclados</h3>
                <p>Contamos con teclados mecanicos y mas variedades de las marcas top del mercado ¡ ¿Porque no entras y miras cual se adapta mas a ti? !</p>
                <p class="precio">Desde $220.000</p>

                <a class="btn btnMargin" href="tienda.html">Ir a la tienda</a>
            </div>
        </div>

        <div class="producto">
            <img src="../public/img/Index/torresGamer.jpg" alt="ImgTorres">
            <div class="texto-producto">
                <h3>Torres Armadas</h3>
                <p>Si estas buscando una torre que se adapte a tus necesidades del dia a dia aqui la podras encontrar desde bajos costos</p>
                <p class="precio">Desde $3,100.000</p>

                <a class="btn btnMargin" href="tienda.html">Ir a la tienda</a>
            </div>
        </div>

    </div>
</main>

<section class="sobre-nosotros">
    <div class="contenedor sobre-nosotros-flex">
        <div class="texto-nosotros">
            <h2 class="degradado">nosotros</h2>
            <p>Nosotros somos una empresa dedidaca completamente al sector tecnologico con muchos años de trayectoria, nuestro enfoque es satisfacer las necesidades de cada usuario y brindarle una atencion personalizada</p>
            <a class="btn btnMargin" href="tienda.html">Conocenos mas !</a>
        </div>
    </div>
</section>

<footer class="sitio-footer">
    <!-- Cambiar el footer ! -->
    <div class="grid-footer">

        <div>
            <h3 class="degradado">Sobre nosotros</h3>

            <nav class="footer-menu">
                <a href="#">Nuestra hostoria</a>
                <a href="#">Mision, vision y valores</a>
                <a href="#">Carreras</a>
                <a href="#">Politica de privacidad</a>
                <a href="#">Terminos del servicio</a>
            </nav>
        </div>

        <div>
            <h3 class="degradado">Soporte</h3>

            <nav class="footer-menu">
                <a href="#">Preguntas Frecuentes</a>
                <a href="#">Ayuda en linea</a>
                <a href="#">Confianza y seguridad</a>
            </nav>
        </div>
    </div>
</footer>

</body>
</html>