<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
</head>
<body>
    <main class="contenedor-principal contenedor">
        <h2 class="text-center">Iniciar sesión</h2>

        <form class="formulario">
            <fieldset>
                <!--legend>Tus Datos</legend-->
                <div class="campo">
                    <label for="Email">Correo electrónico o número de teléfono:</label>
                    <input id="Email" type="email" placeholder="Ingresa aqui tu E-mail" required/>
                </div>

                <div class="campo">
                    <label for="tel">Contraseña:</label>
                    <input id="tel" type="password" placeholder="Ingresa aqui tu contraseña" required/>
                </div>
                <div class="campo">
                    <label for="tel">Vuelve a escribir tu contraseña:</label>
                    <input id="tel" type="password" placeholder="Ingresa aqui tu contraseña" required/>
                </div>
            </fieldset>

            <input type="submit" value="Iniciar sesión">
        </form>
    </main>
</body>
</html>