<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200;400;700&family=Roboto:ital,wght@0,700;1,400;1,500&family=Rubik:ital,wght@0,500;0,600;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body> 
<header class="header">
    <div class="container">
        <div>
            <img class="logo" src="/img/Header&footer/Pegasus-logo.png" alt="##">
        </div>
        <div>
            <h1 class="nombre-sitio degradado">Pegasus Tech</h1>
        </div>
            
        <div class="contenedor-nav">
            <nav class="nav-principal">
                <a href="tienda.html">Tienda</a>
                <a href="setups.html">Setups</a>
                <a href="nosotros.html">Nosotros</a>
                <a href="contacto.html">Contacto</a>
            </nav>
            <nav class="login-register">
                <a class="botones-diseño" href="login.html">Ingresar</a>
                <a class="botones-diseño" href="register.html">Registrarse</a>
            </nav>
        </div>
    </div>
</header>

    <main>
        <section class="producto-detail">
            <div class="imagenes-producto">
                <div class="img-alt">
                    <img src="#" alt="view">
                    <img src="#" alt="view">
                    <img src="#" alt="view">
                </div>
                <div class="img-main"><img src="/img/productDetail/productoDemo.jpg" alt="imagen de producto"></div>
            </div>
            <div class="info-producto">
                <h2>La mejor de las mejores super hiper mega diademas RGB +15FPS</h2>
                <a class="vendedor">más productos de la marca</a>
                <div class="calificacion">
                    <i clas="star"></i>
                    <i clas="star"></i>
                    <i clas="star"></i>
                    <i clas="star"></i>
                    <i clas="star"></i>
                </div>
                <div class="opciones-producto">
                    <button>Rojo Sangre</button>
                    <button>Azul Cielo</button>
                    <button>Amarillo Pollito</button>
                </div>
                <p>Super hiper mega descripción. Solo por leer esta descricción vas 
                    a tener +5 FPS en todos los jueveos, sea en windows, mac o linux 
                    qué esperas para comprar?</p>

            </div>
            <div class="precio-producto">
                <h2 id="precio">$999.99</h2>
                <button id="anadir-carrito">Añadir al Carrito<i class="carrito"></i></button>
                <button id="anadir-deseados">Añadir a Deseados</button>
            </div>
        </section>

        <section class="recomendados">
            <div class="producto-preview"></div>
            <div class="producto-preview"></div>
            <div class="producto-preview"></div>
            <div class="producto-preview"></div>
        </section>

        <section class="historial">
            <div class="producto-preview"></div>
            <div class="producto-preview"></div>
            <div class="producto-preview"></div>
            <div class="producto-preview"></div>
        </section>
    </main>


<footer class="sitio-footer">
        <!-- Cambiar el footer ! -->
    <div class="grid-footer">
    
        <div>

            <h3 class="degradado">Sobre nosotros</h3>
    
            <nav class="footer-menu">
                <a href="#">Nuestra hostoria</a>
                <a href="#">Mision, vision y valores</a>
                <a href="#">Carreras</a>
                <a href="#">Politica de privacidad</a>
                <a href="#">Terminos del servicio</a>
            </nav>
        </div>
    
        <div>
            <h3 class="degradado">Soporte</h3>
    
            <nav class="footer-menu">
                <a href="#">Preguntas Frecuentes</a>
                <a href="#">Ayuda en linea</a>
                <a href="#">Confianza y seguridad</a>
            </nav>
        </div>

    </div>

</footer>
    
</body>
</html>