header {
  background-color: var(--colorPetroleo);
  width: 100%;
  height: 100%;
  max-height: 100px;
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  display: block;
  width: 100px;
  min-height: 100%;
  padding: 10px;
}

.logo-desktop {
  display: none;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.logo-mobile {
  display: block;
  object-fit: contain;
}

.bar-container {
  flex: 1;
  padding: 20px;
}
.bar-container .nav-search-input {
  width: 85%;
  border-color: white;
}
.bar-container button {
  /* display: none; */
  background-color: rgba(0, 0, 0, 0);
  border: none;
  width: 3rem;
  height: 3rem;
}

.bar-container i {
  color: white;
  font-size: 2.1rem;
}

.bar-btn span {
  background-color: white;
  display: block;
  width: 2.5rem;
  height: 0.2rem;
  border-radius: 0.5rem;
  margin: 0.5rem 2rem;
  animation-duration: 0.1s;
  animation-fill-mode: forwards;
}


.bar-btn.open .top-line {
  animation-name: top-line-animation;
}
.bar-btn.open .middle-line {
  animation-name: middle-line-animation;
}
.bar-btn.open .bottom-line {
  animation-name: bottom-line-animation;
}

.bar-btn .top-line {
  animation-name: top-line-animation-close;
}
.bar-btn .middle-line {
  animation-name: middle-line-animation-close;
}
.bar-btn .bottom-line {
  animation-name: bottom-line-animation-close;
}

/* Animacion del boton burger-menu */
@keyframes top-line-animation {
  50%, 100% {
    margin: 0 auto;
    transform: rotate(-45deg);
  }
}
@keyframes bottom-line-animation {
  50%, 100% {
    margin: 0 2rem;
    transform: translateY(-0.32rem) rotate(45deg);
  }
}
@keyframes middle-line-animation {
  20%, 100% {
    margin: 0 auto;
    width: 0;
    opacity: 0;
  }
}

.nav-menu {
  background: var(--colorPetroleo);
  list-style: none;
  text-align: center;
  position: absolute;
  top: 95px;
  right: -40rem;
  width: 0px;
  height: 30rem;
  padding: 0px 15px;
  border-radius: var(--borderRadiusPopUp) 
    0 0 var(--borderRadiusPopUp);
  z-index: 5;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.nav-menu li a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  color: white;
  font-size: 1.6rem;
  font-weight: 600;
  margin-right: 0.5rem;
}
.nav-menu li a.active,
.nav-menu li a:hover {
  color: var(--colorAzulNeon);
  transition: 0.3s;
}
.nav-menu li a > img {
  width: 28px;
  height: 28px;
  border-radius: 50%;
}

.nav-menu li a .fa-user {
  border: solid 1px;
  padding: 5px;
  border-radius: 50%;
  margin: 5px;
}

.nav-menu .fa-cart-shopping {
  color: var(--colorAzulNeon)
}
.nav-menu .fa-cart-shopping:hover {
  color: var(--colorMagenta)
}

#check {
  display: none;
}
#check:checked~.nav-menu {
  width: 50%;
  right: 0rem;
  transition-duration: 0.5s;
}

@media (min-width: 900px){ /* PC Small */
  .logo-container {
    width: 250px;
    padding: 0;
  }
  .logo-desktop {
    display: block;
  }
  .logo-mobile {
    display: none;
  }

  .bar-container input {
    width: 90%;
  }

  .bar-btn {
    display: none;
  }

  header {
    padding: 0px 10px;
  }

  header div {
    flex-grow: 0;
  }

  .bar-container{
    flex-grow: 1;
    justify-content: center;
    display: flex;
    align-items: center;
  }
  .bar-container .nav-search-input {
    display: block;
    width: 80%;
  }
  .bar-container button{
    display: block;
  }

  .nav-menu {
    background: rgba(0, 0, 0, 0);
    position: relative;
    align-self: flex-end;
    top: 0px;
    right: 0px;
    width: 100% !important;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
  }

  .nav-menu > li {
    flex-shrink: 0;
  }
  .nav-menu li a {
    font-size: 1.4rem;
  }

  .barContainer input{
    width: 25rem;
    height: 3rem;
    border-radius: 5px;
  }

  .barContainer .fa-search{
    position: relative;
    right: 3rem;
  }

}

@media (min-width: 1280px) { /* PC Big */
}