/* ------ Login y register ----- */

main {
  position: relative;
  /* height: 100vh; */
  width: 100%;
  background: url(../img/login/login.png);
  background-size: cover;
  background-position: center center;

  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  /* background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)); */
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(8px);
  width: 45rem;
  padding: 5rem 3rem;
  border-radius: 1rem;
  box-shadow: 0.7rem 0.7rem 6rem #000;

}

.form-container > form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}

.login-register-container h1 {
  text-transform: uppercase;
  font-size: 2em;
  text-align: center;
  color: #fff;
  margin-bottom: 1rem;
}

.control {
  margin: 15px 0px;
  line-height: 2rem;
}
.control input {
  width: 100%;
  display: block;
  padding: 1rem;
  color: #000;
  border: none;
  outline: none;
  margin: 1em 0;
}

.login-register-container label {
  color: #fff;
}

.control input[type="submit"] {
  background: var(--primario);
  color: #fff;
  text-transform: uppercase;
  font-size: 1.2em;
  opacity: 0.7;
  transform: opacity 0.3s ease;
}

.control input[type="submit"]:hover {
  opacity: 1;
}

.control .form-error-message {
  background:rgba(0, 0, 0, 0.8);
  color: red;
  font-weight: bold;
  padding: 3px;
  border-radius: 3px;
}

.Rememberme-login {
  color: #fff;
}

.link-forgot-password {
  text-align: center;
}

.link-forgot-password a {
  text-decoration: none;
  color: #fff;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.link-forgot-password a:hover {
  opacity: 1;
}
