/*-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-*/
/*------------- PRODUCT DETAIL ------------*/
/*-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-*/

.product {
  align-self: center;
  width: 90%;
  max-width: 1500px;
  margin-bottom: 0px auto 5px;

  flex-grow: 1;
  display: flex;
  justify-content: center;
  
  gap: 16px;
}

.product > div {
  flex-grow: 1;

  padding: 10px 30px;
  /* border: black dotted 1px;
  background-color: rgba(0,0,0,0.1); */

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}
.img {
  justify-content: center;
  align-items: center;
}
.img > img {
  width: 80%;
  height: 100%;
  object-fit: contain;
}

.product-info {
  align-items: flex-start;
}

.product-price {
  margin-bottom: 10px;
}
.product-description {
  margin-bottom: 20px;
}
.product-stock {
  margin-bottom: 20px;
}

@media (min-width: 430px) { /* For Tablets */

}

@media (min-width: 769px) { /* For PC */

}