main h3 {
    margin: 5px 0px;
    line-height: 120%;
}

img {
    width: 100%;
    object-fit: contain;
}

.carrito {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
}
.carrito .carrito-title {
    flex: 0;
    border-bottom: 1px solid #4e4e4e;
}

.carrito .carrito-producto {
    padding: 10px;
    border-bottom: 1px solid #4e4e4e;

    display: flex;    
    justify-content: flex-start;
    gap: 30px;
}
.carrito .checkout {
    width: 80%;
    align-self: center;
    background: linear-gradient(to right, var(--primario) 0%, var(--secundario) 100% );
}

.carrito-producto img {
    width: 160px;
}
.carrito-producto-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.carrito h3 {
    font-size: 2.5rem;
    margin: 0px;
}
.carrito-producto-info select,
.carrito-producto-info button {
    height: 3rem;
}
.carrito-producto .precio {
    justify-self: flex-end;
    align-self: flex-end;
    font-size: 1.8rem;
    margin-left: auto;
}
.carrito-subtotal {
    padding: 10px;

    display: flex;
    justify-content: space-between;
}

@media (min-width: 430px) { /* For Tablets */
}

@media (min-width: 769px) { /* For PC */ 
    main {
        width: 80%;
        max-width: 1080px;
        margin: 0px auto;
        /*display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;*/
    }
    main > section {
        width: 100%;
    }

    .carrito .precio {
        font-size: 2rem;
    }
    .carrito .checkout {
        width: 500px;
    }
}