.cart {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 60px;
}

.empty-cart {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 60px;
}
.empty-cart-image {
    background-color: var(--GrisOscuro);
    width: 250px;
    height: 250px;
    border: 5px white;
    border-style: solid;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.empty-cart-image > a {
    font-size: 80px;
    position: absolute;
    transform: translate(-2%, 8%);
}
.fa-cart-plus:hover {
    color: var(--colorAzul)
}

.cart > h1 {
    margin-top: 20px;
    margin-bottom: 10px;
}

.product-in-cart {
    max-height: 200px;
    padding: 10px;
    /* border: 1px dotted black; */
    border-bottom: 1px solid var(--colorPetroleo);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 30px;
}

.product-in-cart > div {
    height: 100%;
}
.product-in-cart-img {
    width: 190px;
}
.product-in-cart-img > img {
    object-fit: fill;
}

.product-in-cart-name > a {
    color: black;
}

.product-in-cart-info {
    flex-grow: 1;
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: flex-start;
}
.product-in-cart-price {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: flex-end;
}
.product-in-cart-options {
    display: flex;
    justify-content: flex-start;
    align-content: center;
}

.quantity-button > i {
    color: var(--colorAzul);
}
.remove-product > i {
    color: var(--colorPetroleo);
}
.cart-input-text {
    font-size: 12px;
    height: 32px;
    width: 80px;
    padding: 2px 15px;
    border: solid 2px var(--colorAzul);
    border-radius: var(--borderRadiusInput);
}

.cart-subtotal {
    padding: 10px;

    display: flex;
    justify-content: space-between;
}

@media (min-width: 430px) { /* For Tablets */
}

@media (min-width: 769px) { /* For PC */ 
    main {
        width: 80%;
        max-width: 1080px;
        margin: 0px auto;
    }
    main > section {
        width: 100%;
    }

    .carrito .precio {
        font-size: 2rem;
    }
    .carrito .checkout {
        width: 500px;
    }
}