/* Globales */

html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1rem = 10px */
  height: 100%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

:root {
  --primario: #29d0fd;
  --secundario: #fe019a;
  --fprimario: #bc13fe;
  --fsecundario: #0504aa;
  --Grisfondo: #e1e1e1;
  --GrisOscuro: rgb(95, 95, 95);

  --colorMagenta: #E409CF;
  --colorVioleta: #9242DA;
  --colorAzul: #5470DD;
  --colorAzulNeon: #07A5E3;
  --colorPetroleo: #0a141d;
  --colorPetroleoOp: #0a141db3;

  --borderRadius: 8%;
  --borderRadiusPopUp: 15px;
  --borderRadiusInput: 9px;
}

.degradado {
  color: transparent;
  /* background: linear-gradient(to right,
    var(--primario) 0%,
    var(--secundario) 100%
  ); */
  background: linear-gradient(to right,
    var(--colorAzul) 0%,
    var(--colorVioleta) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
}

body {
  min-height: 100vh;
  font-family: "Work Sans", sans-serif;
  /* font-size: 1.6rem; */
  line-height: 1.2;
  background-color: var(--Grisfondo);
  overflow-x: hidden;
  grid-template-rows: 100px auto 1fr;
}

h1 { /* titular*/
  font-weight: 700; /* bold */
  font-size: 32px;
  margin: 5px 0px;
}
h2 { /* subtitulo */
  font-weight: 600; /* semibold */
  font-size: 24px;
  margin: 5px 0px;
}

h3, h4, h5 { /* Base */
  font-size: 20px;
  margin: 0px;
}
h3, .semibold {
  font-weight: 600; /* semibold */
}
h4, .medium {
  font-weight: 500; /* medium */
}

p, .paragraph {
  font-size: 16px;
  margin: 0;
}
a {
  color: var(--colorAzulNeon);
  font-size: 16px;
  text-decoration: none;
}

.icon::before {
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}
i {
  color: white;
}
i:hover {
  color: var(--colorMagenta);
}
i:active {
  color: var(--colorAzulNeon);
}

/*
a {
  text-decoration: none;
  color: #000;
}

h1,
h2,
h3 {
  font-family: "Roboto", sans-serif;
  margin: 0 0 5rem 0;
}
h1 {
  font-size: 4.4rem;
}
h2 {
  font-size: 3.6rem;
}
h3 {
  font-size: 2.8rem;
}
h4 {
  font-size: 2.3rem;
}
h5 {
  font-size: 1.8rem;
}
h6 {
  font-size: 1.4rem;
}
*/
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.text-center {
  text-align: center;
}

/*---------------------------------------------------*/
/* seccion de recomendados para product Cart y Detail*/
/*---------------------------------------------------*/

/* Section titles*/
.section-title {
  width: fit-content;
  margin: 0px;
}

main .recopilacion {
  background-image: url(../img/Index/fondo-producto.jpg);

  display: flex;
  flex-wrap: hidden;
  justify-content: space-around;
  gap: 20px;
  margin: 20px auto;
}
.producto-preview {
  width: 180px;
  padding: 5px;
  color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.producto-preview > * {
  text-align: center;
  line-height: 2rem;
  margin: 5px auto;
}
.producto-preview img {
  border-radius: 5px;
}
.producto-preview h3 {
  font-size: 1.8rem;
  color: white;
  margin: 0px;
}
.producto-preview p {
  font-size: 1.2rem;
}

/* .btn {
  background-color: var(--primario);
  display: block;
  color: #fff;
  font-weight: 900;
  padding: 1rem;
  transition: background-color 0.3s ease-out;
  text-align: center;
  border: none;
} */

@media (min-width: 900px){ /* PC Small */
  body {
    grid-template-rows: 100px auto 408px;
  }
}