.profile-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
  width: 95%;
  max-width: 1200px;
  margin: 0px auto;
}

.user-image {
  align-items: center;
}
.user-image img {
  width: 250px;
}

.user-actions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
}
.user-actions > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.user-actions > div > i {
  color: blue;
}

.user-edit-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  width: 95%;
  max-width: 1000px;
  margin: 0px auto;
}

.form-field {
  width: auto;
}

@media (min-width: 900px) {
  .profile-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
      "image info editButton"
      "image info logOut";
  
    width: 95%;
    margin: 0px auto;
  }
  .profile-grid > section {
    /* height: 100%; */
    width: auto;
  }
}