<!DOCTYPE html>
<html lang="es">
<%- include('partials/head') %>

<head>
  <link rel="stylesheet" href="/css/index.css" />
</head>

<body>
  <%- include('partials/header') %>

    <div class="swiper-container main-slider loading">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <figure class="slide-bgimg" style="background-image: url(img/slider/slider1.jpg)">
            <img src="img/slider/slider1.jpg" class="entity-img" />
          </figure>
          <div class="content">
            <p class="title">Setup Gamer</p>
            <a href="#" class="btn">Ir a la tienda</a>
            <span class="caption"></span>
          </div>
        </div>
        <div class="swiper-slide">
          <figure class="slide-bgimg" style="background-image: url(img/slider/slider2.png)">
            <img src="img/slider/slider2.png" class="entity-img" />
          </figure>
          <div class="content">
            <p class="title">Setup Oficina</p>
            <a href="#" class="btn">Ir a la tienda</a>
            <span class="caption"></span>
          </div>
        </div>
        <div class="swiper-slide">
          <figure class="slide-bgimg" style="background-image: url(img/slider/slider3.jpg)">
            <img src="img/slider/slider3.jpg" class="entity-img" />
          </figure>
          <div class="content">
            <p class="title">Setup Estudio</p>
            <a href="#" class="btn">Ir a la tienda</a>
            <span class="caption"></span>
          </div>
        </div>
        <div class="swiper-slide">
          <figure class="slide-bgimg" style="background-image: url(img/slider/slider4.jpg)">
            <img src="img/slider/slider4.jpg" class="entity-img" />
          </figure>
          <div class="content">
            <p class="title">Setup Gamer 2</p>
            <a href="#" class="btn">Ir a la tienda</a>
            <span class="caption"></span>
          </div>
        </div>
        <div class="swiper-slide">
          <figure class="slide-bgimg" style="background-image: url(img/slider/slider5.jpg)">
            <img src="img/slider/slider5.jpg" class="entity-img" />
          </figure>
          <div class="content">
            <p class="title">Setup Gamer 3</p>
            <a href="#" class="btn">Ir a la tienda</a>
            <span class="caption"></span>
          </div>
        </div>
      </div>

      <div class="swiper-button-prev swiper-button-white"></div>
      <div class="swiper-button-next swiper-button-white"></div>
    </div>

    <div class="swiper-container nav-slider loading">
      <div class="swiper-wrapper" role="navigation">
        <div class="swiper-slide">
          <figure class="slide-bgimg" style="background-image: url(img/slider/slider1.jpg)">
            <img src="img/slider/slider1.jpg" class="entity-img" />
          </figure>
          <div class="content">
            <p class="title">Setup Gamer</p>
          </div>
        </div>
        <div class="swiper-slide">
          <figure class="slide-bgimg" style="background-image: url(img/slider/slider2.png)">
            <img src="img/slider/slider2.png" class="entity-img" />
          </figure>
          <div class="content">
            <p class="title">Setup Oficina</p>
          </div>
        </div>
        <div class="swiper-slide">
          <figure class="slide-bgimg" style="background-image: url(img/slider/slider3.jpg)">
            <img src="img/slider/slider3.jpg" class="entity-img" />
          </figure>
          <div class="content">
            <p class="title">Setup Estudio</p>
          </div>
        </div>
        <div class="swiper-slide">
          <figure class="slide-bgimg" style="background-image: url(img/slider/slider4.jpg)">
            <img src="img/slider/slider4.jpg" class="entity-img" />
          </figure>
          <div class="content">
            <p class="title">Setup Gamer 2</p>
          </div>
        </div>
        <div class="swiper-slide">
          <figure class="slide-bgimg" style="background-image: url(img/slider/slider5.jpg)">
            <img src="img/slider/slider5.jpg" class="entity-img" />
          </figure>
          <div class="content">
            <p class="title">Setup Gamer 3</p>
          </div>
        </div>
      </div>
    </div>
  
    <main class="contenedor-principal contenedor">
      <h2 class="degradado text-center">Categorias</h2>

      <div class="listado-productos">
        <div class="producto">
          <img src="img/index/combos.jpg" alt="" />
          <div class="texto-producto">
            <h3>Combos</h3>
            <p>
              ¡Animate! Tenemos muchos combos que se pueden adaptar fácilmente a tus necesidades
            </p>
            <p class="precio">Desde $500.000</p>

            <a class="btn" href="products/productDetail/25">Ir a la tienda</a>
          </div>
        </div>

        <div class="producto">
          <img src="img/index/diadema.jpeg" alt="" />
          <div class="texto-producto">
            <h3>Diademas</h3>
            <p>
              Contamos con las marcas top del mercado a precios justos. ¿Qué estás esperando para dar un vistazo?
            </p>
            <p class="precio">Desde $200.000</p>

            <a class="btn btnMargin" href="products/productDetail">Ir a la tienda</a>
          </div>
        </div>

        <div class="producto">
          <img src="img/index/mouse.jpg" alt="" />
          <div class="texto-producto">
            <h3>Mouse</h3>
            <p>
              Contamos con Mouse de gama alta y gama media que cumplirán todas tus necesidades
            </p>
            <p class="precio">Desde $120.000</p>

            <a class="btn btnMargin" href="products/productDetail">Ir a la tienda</a>
          </div>
        </div>

        <div class="producto">
          <img src="img/index/Monitores.jpg" alt="" />
          <div class="texto-producto">
            <h3>Monitores</h3>
            <p>
              Contamos con Monitores de varias gamas enfocados principalmente en las diferentes necesidades de nuestros usuarios.
            </p>
            <p class="precio">Desde $600.000</p>

            <a class="btn btnMargin" href="products/productDetail">Ir a la tienda</a>
          </div>
        </div>

        <div class="producto">
          <img src="img/index/teclados.jpg" alt="" />
          <div class="texto-producto">
            <h3>Teclados</h3>
            <p>
              Contamos con teclados mecánicos y más variedades de las marcas top del mercado ¿Por qué no entras y miras cuál se adapta más a ti?
            </p>
            <p class="precio">Desde $220.000</p>

            <a class="btn btnMargin" href="products/productDetail">Ir a la tienda</a>
          </div>
        </div>

        <div class="producto">
          <img src="img/index/torresGamer.jpg" alt="" />
          <div class="texto-producto">
            <h3>Torres Armadas</h3>
            <p>
              Si estás buscando una torre que se adapte a tus necesidades del día a día estás en el lugar correcto.
            </p>
            <p class="precio">Desde $3.100.000</p>

            <a class="btn btnMargin" href="products/productDetail">Ir a la tienda</a>
          </div>
        </div>
      </div>
    </main>
  
  <%- include('partials/footer') %>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.7/js/swiper.min.js"></script>
  <script src="/slide.js"></script>
</body>

</html>