<header>
  <div>
    <a href="/"><img class="logo" src="../../img/header&footer/Pegasus-logo2.png" alt="" /></a>
  </div>
  <nav>
    <input type="checkbox" id="check" />
    <label for="check" class="bar-btn">
      <span class="top-line"></span>
      <span class="middle-line"></span>
      <span class="bottom-line"></span>
    </label>
    <script src="../js/burgerMenuOpen"></script> <!-- script de animacion -->

    <ul class="nav-menu">
      <!-- <li><a class="active" href="/">Home</a></li> -->
      <li><a class="nav-shop-btn" href="../products/productDetail">Tienda</a></li>
      <li><a href="../nosotros">Nosotros</a></li>
      <li><a href="../contacto">Contacto</a></li>
      <li><a class="nav-user-btn" href="../register">Registrate</a></li>
      <li><a class="nav-user-btn" href="../login">Login<i class="fa-regular fa-user"></i></a></li>
      <li><a class="nav-carrito" href="../cart">Carrito<i class="fa-solid fa-cart-shopping"></i></a></li>
    </ul>
  </nav>
</header>