<header>
  <a href="/" class="logo-container">
    <img id="logo" class="logo-desktop" src="../../img/HeaderFooter/Pegasus-logo-desktop.png">
    <img id="mini-logo" class="logo-mobile" src="../../img/HeaderFooter/Pegasus-logo.png">
  </a>
  <form class="bar-container" action="../products" method="GET">

    <!-- <input type="text" class="nav-search-input" name="search" placeholder="Busca productos, marcas y más…"> -->
    <input type="text" class="text-input nav-search-input" name="search" placeholder="Busca productos, marcas y más…">
    <button type="submit" tabindex="3">
      <i class="fa fa-search"></i>
    </button>
  </form>
  <nav>
    <input type="checkbox" id="check" />
    <label for="check" class="bar-btn">
      <span class="top-line"></span>
      <span class="middle-line"></span>
      <span class="bottom-line"></span>
    </label>

    <ul class="nav-menu">
      <li><a href="../../products/"><h3>Tienda</h3></a></li>
      <li><a href="../contacto"><h3>Contacto</h3></a></li>

      <% if (locals.isLogged) { %> 
        <li><a href="../users/profile"><h3><%= locals.userName %></h3> <img src="../../img/users/<%= locals.userImage %>"/></a></li>
      <% } else { %> 
        <li><a href="../../users/register"><h3>Registrate</h3></a></li>
        <li><a href="../../users/login"><h3>Ingresa</h3></a></li>
        <!-- <li><a href="../../users/login"><h3>Ingresa</h3><i class="fa-regular fa-user"></i></a></li> -->
      <% } %>

      <li><a href="../../cart"><h3><i class="fa-solid fa-cart-shopping"></i></h3></a></li>
    </ul>
  </nav>
</header>
<!-- <script src="../js/burgerMenuOpen"></script> script de animacion -->