<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>

<head>

</head>

<body>

</body>

</html>
<%- include('../partials/header.ejs') %>

  <body>
    <main>
      <section class="registry-card cartao">
        <span class="registry-card__icon-complete"></span>
        <h1 class="registry-card__title card__title">
          ¡Registro realizado con éxito!
        </h1>
        <a href="./productRegister" class="button">Registrar otro producto</a>
      </section>
    </main>
  </body>

  </html>