

<html>
  <%- include('../partials/head.ejs') %>  
  <head><!-- tal vez se pueda hacer un partial del head para products_ -->
    <link rel="stylesheet" href="/css/form/base/base.css" />
    <link rel="stylesheet" href="/css/form/componentes.css" />
    <link rel="stylesheet" href="/css/form/registroConcluido.css" />
    <title>Registro concluido </title>
  </head>
  <%- include('../partials/header.ejs') %> 
  <body>
    <main class="container ">
      
        <span class=""><i class="fas fa-check-circle"></i></span>
        <div>
          <h1 class="">
            ¡Registro realizado con éxito!<br/>
            Bienvenido<br/>
            aca se muestra el nombre del usuario
          </h1>
          <img class="imagenUsuario" src="img/uploads/usuario.imagen" alt="">
        </div>
        <a  href="./login" class="button">Que ponemos acá?</a><!-- a donde se envia esta vaina -->
      
    </main>
  </body>
</html>

