<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<head>
  <link rel="stylesheet" href="/css/productCart.css">
  <title>Carrito de productos</title>
</head>
<body>
  <%- include('../partials/header') %>

  <main class="contenedor-principal">
    <section class="carrito">
      <div class="carrito-title">
        <h2 class="section-title degradado">Carrito de Productos</h2>
      </div>
      
      <div class="carrito-producto">
        <img src="/img/productDetail/productoDemo.jpg">
        <div class="carrito-producto-info">
          <a href="productDetail.html"><h3>Nombre de Producto</h3></a>
          <div class="carrito-producto-options">
            <select name="cantidad">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
            <button>Eliminar</button>
          </div>
        </div>
        <h4 class="precio">$500.000</h4>
      </div>

      <div class="carrito-producto">
        <img src="/img/productDetail/productoDemo.jpg">
        <div class="carrito-producto-info">
          <a href="productDetail.html"><h3>Nombre de Producto</h3></a>
          <div class="carrito-producto-options">
            <select name="cantidad">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
            <button>Eliminar</button>
          </div>
        </div>
        <h4 class="precio">$500.000</h4>
      </div>
      <div class="carrito-producto">
        <img src="/img/productDetail/productoDemo.jpg">
        <div class="carrito-producto-info">
          <a href="productDetail.html"><h3>Nombre de Producto</h3></a>
          <div class="carrito-producto-options">
            <select name="cantidad">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
            <button>Eliminar</button>
          </div>
        </div>
        <h4 class="precio">$500.000</h4>
      </div>
      <div class="carrito-subtotal">
        <h3>Subtotal(3 items)</h3>
        <h4 class="precio">$1'500.000</h4>
      </div>
      <button class="btn checkout">Comprar!</button>
    </section>

    <section class="carrito" style="display:none;">
      <div class="carrito-title">
        <h2 class="section-title degradado">Carrito de Productos</h2>
      </div>
      
      <div class="carrito-producto">
        <img src="/img/productDetail/productoDemo.jpg">
        <div class="carrito-producto-info">
          <a href="productDetail.html"><h3>Nombre de Producto</h3></a>
          <div class="carrito-producto-options">
            <select name="cantidad">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
            <button>Eliminar</button>
          </div>
        </div>
        <div class="precio">
          <h4>$500.000</h4>
        </div>
      </div>

      <div class="carrito-producto">
        <img src="/img/productDetail/productoDemo.jpg">
        <div class="carrito-producto-info">
          <a href="productDetail.html"><h3>Nombre de Producto</h3></a>
          <div class="carrito-producto-options">
            <select name="cantidad">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
            <button>Eliminar</button>
          </div>
        </div>
        <h4 class="precio">$500.000</h4>
      </div>
      <div class="carrito-producto">
        <img src="/img/productDetail/productoDemo.jpg">
        <div class="carrito-producto-info">
          <a href="productDetail.html"><h3>Nombre de Producto</h3></a>
          <div class="carrito-producto-options">
            <select name="cantidad">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
            <button>Eliminar</button>
          </div>
        </div>
        <h4 class="precio">$500.000</h4>
      </div>
      <div class="carrito-subtotal">
        <h3>Subtotal(3 items)</h3>
        <h4 class="precio">$1'500.000</h4>
      </div>
      <button class="btn checkout">Comprar!</button>
    </section>
    
    <h2 class="section-title degradado">Recomendados</h2>
    <section class="recopilacion">
      <div class="producto-preview">
        <img src="/img/productDetail/productoDemo.jpg">
        <a href="productDetail.html"><h3>Nombre del Producto</h3></a>
        <p class="precio">$500.000</p>
        <button class="btn">A単adir al Carrito</button>
      </div>
      <div class="producto-preview">
        <img src="/img/productDetail/productoDemo.jpg">
        <a href="productDetail.html"><h3>Nombre del Producto</h3></a>
        <p class="precio">$500.000</p>
        <button class="btn">A単adir al Carrito</button>
      </div>
      <div class="producto-preview">
        <img src="/img/productDetail/productoDemo.jpg">
        <a href="productDetail.html"><h3>Nombre del Producto</h3></a>
        <p class="precio">$500.000</p>
        <button class="btn">A単adir al Carrito</button>
      </div>
      <div class="producto-preview">
        <img src="/img/productDetail/productoDemo.jpg">
        <a href="productDetail.html"><h3>Nombre del Producto</h3></a>
        <p class="precio">$500.000</p>
        <button class="btn">A単adir al Carrito</button>
      </div>
    </section>
  </main>

  <%- include('../partials/footer') %>
</body>
</html>