<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head') %>   
<head><link rel="stylesheet" href="/css/login&register.css" /></head>

<body> 
    <%- include('../partials/header') %>

    <main class="login-register-container">
        <section>
            <div class="form-container">
                <h1>Login</h1>
                <form action="#">
                    <div class="control">
                        <label for="name">Name</label>
                        <input type="text" name="name" id="name">
                    </div>
                    <div class="control">
                        <label for="psw">Password</label>
                        <input type="password" name="psw" id="psd">
                    </div>
                    <span class="Rememberme-login"><input type="checkbox">Remember me.</span>
                    <div class="control">
                        <input type="submit" value="Login">
                    </div>
                </form>
                <div class="link-forgot-password">
                    <a href="#">Forgot password ?</a>
                </div>
            </div>
        </section>
    </main>

    <%- include('../partials/footer') %>

</body>
</html>