


  <%- include('../partials/head.ejs') %>  
  <head><!-- tal vez se pueda hacer un partial del head para products_ -->
    <link rel="stylesheet" href="/css/form/base/base.css" />
    <link rel="stylesheet" href="/css/form/registroConcluido.css" />
    <title>Registro concluido </title>
  </head>
  <%- include('../partials/header.ejs') %> 
  <body>
    <main class="container flex flex--column flex--center">
      <section class="registry-card cartao">
        <span class="registry-card__icon-complete"><i class="fas fa-check-circle"></i></span>
        <h1 class="registry-card__title card__title">
          ¡Registro realizado con éxito!
        </h1>
        <h2>Bienvenido aca se muestra el nombre del usuario</h2>
        <img class="imagenUsuario" src="img/uploads/usuario.imagen" alt="">
        <a  href="./login" class="button">Que ponemos acá?</a><!-- a donde se envia esta vaina -->
      </section>
    </main>
  </body>
</html>

