<footer class="pie-pagina">
  <div class="grupo-1">
    <div class="box">
      <figure>
        <a href="#">
          <img src="../../img/headerFooter/Pegasus-logo.png" alt="Logo Pegasus"/>
        </a>
      </figure>
    </div>
    <div class="box">
      <h2>Sobre Nosotros</h2>
      <p>Somos una empresa colombiana ubicada en Medellín (Antioquia)</p>
      <p>Tenemos más de 10 años de experiencia en el mercado</p>
    </div>
    <div class="box">
      <h2>Síguenos</h2>
      <div class="red-social">
        <a href="facebook.com" class="fa fa-facebook"></a>
        <a href="instagram.com" class="fa fa-instagram"></a>
        <a href="twitter.com" class="fa fa-twitter"></a>
        <a href="youtube.com" class="fa fa-youtube"></a>
      </div>
    </div>
  </div>
  <div class="grupo-2">
    <small
      >&copy; 2022 <b>Pegasus Tech</b> - Todos los Derechos
      Reservados.</small
    >
  </div>
</footer>